.variables-editor-main-panel {
  background-color: var(--N75);
}

.variables-editor-panel-content {
  height: 100%;
}

.variables-editor-help-tooltip-content {
  font-size: 0.75rem;
  font-weight: initial;
}
